<div class="uk-container">
            <h2 class="uk-modal-title">Novo Emprestimo</h2>
            <form class="uk-form-horizontal uk-margin-large" method="POST" action="/emprestimo">
                <% if(errDuplicacao) {%>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-alert-danger" uk-alert>
                                <a class="uk-alert-close" uk-close></a>
                                <p>O item já esta emprestado a outra pessoa.</p>
                            </div>
                        </div>
                    </div>
                <%}%> 
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Nome do Amigo </label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-horizontal-text" type="text" name="nomeAmigo" value="<%= reqs.nomeAmigo %>">
                    </div>
                </div>
                <%if(err) {%>
                    <%if(err.details[0].type === 'string.regex.base') {%>
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <div class="uk-alert-danger" uk-alert>
                                    <a class="uk-alert-close" uk-close></a>
                                    <p>O nome não pode conter numeros.%></p>
                                </div>
                            </div>
                        </div>
                    <%}else if(err._object.nomeAmigo === '') {%>
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <div class="uk-alert-danger" uk-alert>
                                    <a class="uk-alert-close" uk-close></a>
                                    <p>Um nome é necessário.%></p>
                                </div>
                            </div>
                        </div>
                    <%}%>
                <%}%>
                <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-select">Item</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="form-stacked-select" name="item">
                            <%if(itens.length === 0) {%>
                                 <option value="ww">Não há </option> 
                            <%} else {%>
                                <% itens.map((item) => {%>
                                    <option value="<%= item._id %>"><%= item.nome %></option>
                                <%})%>
                            <%}%>
                        </select>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Data do Emprestimo</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="emprest" type="date" name="dtEmprestimo" value="<%= reqs.data %>">
                        <%if(err) {%>
                            <%if(err.details[0].type === 'date.min'&& err.details[0].message.split('"')[1] === 'data') {%>
                                <div class="uk-margin">
                                    <div class="uk-form-controls">
                                        <div class="uk-alert-danger" uk-alert>
                                            <a class="uk-alert-close" uk-close></a>
                                            <p>Insira uma data superior ou igual a de hoje.</p>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                            <%if(err._object.data === ''&& err.details[0].message.split('"')[1] === 'data') {%>
                                <div class="uk-margin">
                                    <div class="uk-form-controls">
                                        <div class="uk-alert-danger" uk-alert>
                                            <a class="uk-alert-close" uk-close></a>
                                            <p>Data de emprestimo é necessária.</p>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        <%}%>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Devolução</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="devol" type="date" name="dtDevolucao" value="<%= reqs.devolucao %>">
                          <%if(err) {%>
                            <%if(err.details[0].type === 'date.min' && err.details[0].message.split('"')[1] === 'devolucao') {%>
                                <div class="uk-margin">
                                    <div class="uk-form-controls">
                                        <div class="uk-alert-danger" uk-alert>
                                            <a class="uk-alert-close" uk-close></a>
                                            <p>Insira uma data superior ou igual a de hoje.</p>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                            <%if(new Date(err._object.data) > new Date(err._object.devolucao) && err.details[0].message.split('"')[1] === 'data') {%>
                                <div class="uk-margin">
                                    <div class="uk-form-controls">
                                        <div class="uk-alert-danger" uk-alert>
                                            <a class="uk-alert-close" uk-close></a>
                                            <p>A data de devolução não pode ser maior que a data de emprestimo.</p>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                         <%}%>
                    </div>
                </div>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="submit">
                </div>
            </form>
</div>