<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">
            <% include ./icon.ejs %>
        </a>
        <div class="uk-navbar-item">
            <a class="uk-button uk-button-default" href="/itens">Itens</a>
        </div>
        <div class="uk-navbar-item">
            <a class="uk-button uk-button-default" href="/historico">Historico</a>
        </div>
    </div>         
</nav>