<div class="uk-container uk-magin ">
    <table class="uk-table uk-table-hover uk-table-divider">
        <thead>
            <tr>
                <th>Item</th>
                <th>Nome do Amigo</th>
                <th>Quantos dias falta</th>
                <th>Data do Emprestimo</th>
                <th>Data da Devolução</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
          
            <%emprest.map((doc) => {%>
                <tr>
                    <td><%= doc.item.nome%></td>
                    <td><%= doc.nomeAmigo%></td>
                    <td>
                        <%
                        const data = moment(doc.data)
                        const devolucao = moment(doc.devolucao)
                        const dias = devolucao.diff(data, 'days')%>

                        <%if(dias === 0) {%>
                            <span class="uk-text-danger">Data de entrega é hoje</span>
                        <%} else if(dias > 1) {%>
                            <span class="uk-text-success">Falta <%= dias %> dias </span>
                        <%}else if(dias === 1) {%>
                            <span class="uk-text-warning">Falta <%= dias %> dia </span>
                        <%} else {%>
                            <span class="uk-text-muted">Indeterminado</span>
                        <%}%>
                        
                    </td>
                    <td>
                        <span class="uk-text-emphasis"><%= data.format('DD/MM/YYYY') %></span>
                    </td>
                    <td>
                        <%if(doc.devolucao === "") {%>
                           <span class="uk-text-muted">Não há data de devolução</span>

                       <%} else {%>
                            <span class="uk-text-emphasis"><%= devolucao.format('DD/MM/YYYY') %></span>
                       <%}%>
                    </td>
                    <td>
                        <a href="/addHistorico/<%= doc._id%>" class="uk-link-text"><span uk-icon="pull" uk-tooltip="Devolver"></span></a>
                    </td>
                    <td>
                        <a href="/delEmprestimo/<%= doc._id%>" class="uk-link-text"><span uk-icon="trash" uk-tooltip="Deletar"></span></a>
                    </td>
                </tr>
            <%})%>
            
        </tbody>
    </table>
</div>