<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>


<div class="uk-container">
            <h2 class="uk-modal-title">Novo Item</h2>
            <form class="uk-form-stacked uk-margin-large" method="POST" action="/item">
            <% if(duplicado) {%>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-alert-danger" uk-alert>
                                <a class="uk-alert-close" uk-close></a>
                                <p>O item já existe</p>
                            </div>
                        </div>
                    </div>
                <%}%> 
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Nome do item</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-horizontal-text" type="text" name="item" required>
                    </div>
                </div>
                <div class="uk-form-controls">
                    <input class="uk-input uk-button uk-button-default uk-button-primary" id="form-horizontal-text" type="submit" value="Cadastrar">
                </div>
            </form>
</div>


<% include ../partials/footer.ejs %>
