<% include ../partials/header.ejs %>
  <% include ../partials/navbar.ejs %>
 
<div class="uk-container">
    <div class=" uk-flex uk-flex-right">
        <a href="/formItem" uk-icon="icon:  plus-circle"></a>
    </div>
</div>

    <% include ./partials/tabela.ejs %>
<% include ../partials/footer.ejs %>