<div class="uk-container uk-magin">
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% if(error === true) {%>
                <div class="uk-alert-warning" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>Você não pode apagar esse item pois esta emprestado para <span class="uk-badge"><%= amigo %></span></p>
                </div>
                <% itens.map(item => {%>
                        <tr>
                            <td><%= item.nome%></td>
                            <td>
                                <a href="/del/<%= item._id%>" class="uk-link-text"><span uk-icon="trash" uk-tooltip="Deletar"></span></a>
                            </td>
                        </tr>
                    <%})%>
            <%} else {%>
                <%if(itens[0] === undefined) {%>
                    <tr>
                        <td>Não há itens cadastrados</td>
                    </tr>
                <%}else{%>
                    <% itens.map(item => {%>
                        <tr>
                            <td><%= item.nome%></td>
                            <td>
                                <a href="/del/<%= item._id%>" class="uk-link-text"><span uk-icon="trash" uk-tooltip="Deletar"></span></a>
                            </td>
                        </tr>
                    <%})%>
                <%}%>
            <%}%>
        </tbody>
    </table>
</div>