<% include ./partials/header.ejs %>
<% include ./partials/navbar.ejs %>

<div class="uk-container">
    <div class=" uk-margin uk-flex uk-flex-right">
        <a href="/formEmprestimo" uk-icon="icon:  plus-circle" uk-tooltip="Registrar um emprestimo"></a>
    </div>
</div>

<% include ./partials/tabelaIndex.ejs %>
<% include ./partials/footer.ejs %>