<div class="uk-container uk-magin">
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th>Devolvido em</th>
                <th>Amigo</th>
            </tr>
        </thead>
        <tbody>
            <%historicos.map((historico) => {%>
                <tr>
                    <td><%=historico.item%></td>
                    <td>
                        <%= historico.devolvido %>
                    </td>  
                            
                    <td><%=historico.amigo%></td>
                </tr>
            <%})%>
        </tbody>
    </table>
</div>